<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--

 plist compiled by Blipp Basic Compiler 1.51.3

-->
<plist version="1.0">
<dict>
   <key>rocket</key>
   <dict>
      <key>compilerRevision</key>
      <string>BBP:1.51.3</string>
      <key>minimumVersion</key>
      <string>8</string>
      <key>name</key>
      <string>rocket</string>
      <key>peel</key>
      <string>yes</string>
      <key>revision</key>
      <string>05-05-2014 03:29:57</string>
      <key>scenes</key>
      <array>
         <dict>
            <key>animation_store</key>
            <array>
               <dict>
                  <key>name</key>
                  <string>moveRight</string>
                  <key>speed</key>
                  <string>0.1</string>
                  <key>stop</key>
                  <string>400</string>
                  <key>type</key>
                  <string>translate_x</string>
               </dict>
               <dict>
                  <key>name</key>
                  <string>moveLeft</string>
                  <key>speed</key>
                  <string>0.1</string>
                  <key>stop</key>
                  <string>-400</string>
                  <key>type</key>
                  <string>translate_x</string>
               </dict>
               <dict>
                  <key>name</key>
                  <string>moveUp</string>
                  <key>speed</key>
                  <string>0.1</string>
                  <key>stop</key>
                  <string>300</string>
                  <key>type</key>
                  <string>translate_y</string>
               </dict>
               <dict>
                  <key>name</key>
                  <string>moveDown</string>
                  <key>speed</key>
                  <string>0.1</string>
                  <key>stop</key>
                  <string>-300</string>
                  <key>type</key>
                  <string>translate_y</string>
               </dict>
               <dict>
                  <key>colours</key>
                  <array>
                     <string>colourOne</string>
                     <string>colourTwo</string>
                  </array>
                  <key>emitterFunction</key>
                  <string>continual,50</string>
                  <key>endSize</key>
                  <string>100,150</string>
                  <key>lifetime</key>
                  <string>1.0,1.5</string>
                  <key>maximum</key>
                  <string>40</string>
                  <key>name</key>
                  <string>rocketFlame</string>
                  <key>speed</key>
                  <string>2,2</string>
                  <key>spread</key>
                  <string>0.0,90.0</string>
                  <key>startSize</key>
                  <string>100,150</string>
                  <key>trajectory</key>
                  <string>-1.0,0.0,0.0</string>
                  <key>type</key>
                  <string>particles</string>
               </dict>
            </array>
            <key>functions</key>
            <array>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>let</key>
                        <string>colourOne[]=[1.0,0.0,0.17,1.0,1.0,0.0,0.17,1.0]</string>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>colourTwo[]=[1.0,0.0,0.17,1.0,1.0,0.0,0.17,1.0]</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>redSwatch.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>let</key>
                        <string>colourOne[]=[0.3,0.4,0.99,1.0,0.3,0.4,0.99,1.0]</string>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>colourTwo[]=[0.3,0.4,0.99,1.0,0.3,0.4,0.99,1.0]</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>blueSwatch.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>let</key>
                        <string>colourOne[]=[0.21,0.93,0.10,1.0,0.21,0.93,0.10,1.0]</string>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>colourTwo[]=[0.21,0.93,0.10,1.0,0.21,0.93,0.10,1.0]</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>greenSwatch.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>let</key>
                        <string>colourOne[]=[1.0,0.5,0.2,1.0,0.6,0.8,0.0,0.1]</string>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>colourTwo[]=[1.0,0.5,0.2,1.0,0.6,0.8,0.0,0.1]</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>yellowSwatch.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>let</key>
                        <string>colourOne[]=[0.87,0.10,0.93,1.0,0.87,0.10,0.93,1.0]</string>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>colourTwo[]=[0.87,0.10,0.93,1.0,0.87,0.10,0.93,1.0]</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>violietSwatch.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>let</key>
                        <string>colourOne[]=[1.0,0.55,0.14,1.0,1.0,0.55,0.14,1.0]</string>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>colourTwo[]=[1.0,0.55,0.14,1.0,1.0,0.55,0.14,1.0]</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>orangeSwatch.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>let</key>
                        <string>colourOne[]=[1.0,0.0,0.0,1.0,1.0,0.8,0.0,0.1]</string>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>colourTwo[]=[0.0,1.0,0.0,1.0,0.0,0.8,1.0,0.1]</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>whiteSwatch.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>let</key>
                        <string>colourOne[]=[0.14,0.92,1.0,1.0,0.14,0.92,1.0,1.0]</string>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>colourTwo[]=[0.14,0.92,1.0,1.0,0.14,0.92,1.0,1.0]</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>turquoiseSwatch.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>moveDown</string>
                        <key>arg2</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                     <dict>
                        <key>arg1</key>
                        <string>rocketFlame</string>
                        <key>arg2</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>buttonBottom.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>moveDown</string>
                        <key>arg2</key>
                        <string></string>
                        <key>arg3</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>stopAnimation</string>
                     </dict>
                     <dict>
                        <key>arg1</key>
                        <string>rocketFlame</string>
                        <key>arg2</key>
                        <string></string>
                        <key>arg3</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>stopAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>buttonBottom.onTouchEnd</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>moveUp</string>
                        <key>arg2</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                     <dict>
                        <key>arg1</key>
                        <string>rocketFlame</string>
                        <key>arg2</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>buttonTop.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>moveUp</string>
                        <key>arg2</key>
                        <string></string>
                        <key>arg3</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>stopAnimation</string>
                     </dict>
                     <dict>
                        <key>arg1</key>
                        <string>rocketFlame</string>
                        <key>arg2</key>
                        <string></string>
                        <key>arg3</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>stopAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>buttonTop.onTouchEnd</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>moveLeft</string>
                        <key>arg2</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                     <dict>
                        <key>arg1</key>
                        <string>rocketFlame</string>
                        <key>arg2</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>buttonLeft.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>moveLeft</string>
                        <key>arg2</key>
                        <string></string>
                        <key>arg3</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>stopAnimation</string>
                     </dict>
                     <dict>
                        <key>arg1</key>
                        <string>rocketFlame</string>
                        <key>arg2</key>
                        <string></string>
                        <key>arg3</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>stopAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>buttonLeft.onTouchEnd</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>moveRight</string>
                        <key>arg2</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                     <dict>
                        <key>arg1</key>
                        <string>rocketFlame</string>
                        <key>arg2</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>buttonRight.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>moveRight</string>
                        <key>arg2</key>
                        <string></string>
                        <key>arg3</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>stopAnimation</string>
                     </dict>
                     <dict>
                        <key>arg1</key>
                        <string>rocketFlame</string>
                        <key>arg2</key>
                        <string></string>
                        <key>arg3</key>
                        <string>rockettwo</string>
                        <key>function</key>
                        <string>stopAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>buttonRight.onTouchEnd</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>rockettwo</string>
                        <key>arg2</key>
                        <string>yes</string>
                        <key>function</key>
                        <string>setClickable</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>onShow</string>
               </dict>
            </array>
            <key>models</key>
            <array>
               <dict>
                  <key>location</key>
                  <string>rocketLoc</string>
                  <key>model</key>
                  <string>rockettwo_Cone.md2</string>
                  <key>name</key>
                  <string>rockettwo</string>
                  <key>texture</key>
                  <string>silver.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>-400,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>redSwatch</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>redSwatch.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>-200,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>blueSwatch</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>blueSwatch.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>-300,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>greenSwatch</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>greenSwatch.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>-100,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>yellowSwatch</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>yellowSwatch.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>200,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>violietSwatch</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>violetSwatch.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>400,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>orangeSwatch</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>orangeSwatch.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>100,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>whiteSwatch</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>whiteSwatch.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>300,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>turquoiseSwatch</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>turquoiseSwatch.jpg</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>0,-300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>buttonBottom</string>
                  <key>pre-rotate</key>
                  <string>90,0,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>red.png</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>0,300,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>buttonTop</string>
                  <key>pre-rotate</key>
                  <string>90,180,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>red.png</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>-400,0,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>buttonLeft</string>
                  <key>pre-rotate</key>
                  <string>90,270,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>red.png</string>
               </dict>
               <dict>
                  <key>location</key>
                  <string>400,0,0</string>
                  <key>model</key>
                  <string>system.plane</string>
                  <key>name</key>
                  <string>buttonRight</string>
                  <key>pre-rotate</key>
                  <string>90,90,0</string>
                  <key>scale</key>
                  <string>1</string>
                  <key>scaleFactor</key>
                  <string>mW/9,mW/9,0</string>
                  <key>texture</key>
                  <string>red.png</string>
               </dict>
            </array>
            <key>name</key>
            <string>default</string>
            <key>variables</key>
            <array>
               <string>mW=marker.width</string>
               <string>rocketLoc=rockettwo.location</string>
               <string>colourOne[]=[1.0,0.0,0.0,1.0,1.0,0.8,0.0,0.1]</string>
               <string>colourTwo[]=[0.0,1.0,0.0,1.0,0.0,0.8,1.0,0.1]</string>
            </array>
         </dict>
      </array>
   </dict>
</dict>
</plist>